body{
  font-size: 1em;
  /*background-image: linear-gradient(to right,  white, lightgreen);*/
}

#rcorners1 {
  border-radius: 25px;
  border: 2px solid #4CAF50;
  padding: 20px; 
  width: 40%;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 12px;
  text-transform: uppercase;
} 
input{
  width: 40%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #90EE90;
  color: black;
}
label.Q4{
    display: inline-block;
    width: 170px;
}
label.Q5{
    display: inline-block;
    width: 20px;
}
label.Q6{
    display: inline-block;
    width: 60px;
}
label.Q1{
  display: inline-block;
  width: 100px;
}
label.Q2{
  display: inline-block;
  width: 120px;
}
button.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  text-transform: capitalize;
}
h1{
  font-weight: bold;
}